*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(background.jpeg);
    color: #fff;
    font-family: "Oswald", sans-serif;
    background-size: cover;
    background-repeat: no-repeat
}

#home{
    margin-top: 5px;
}

#Aboutme{
    margin-top: 5px;
}

#Skills{
    margin-top: 5px;
}

#Education{
    margin-top: 5px;
}

#hobbies{
    margin-top: 5px;
}

#contact{
    margin-top: 5px;
}